<IfModule mod_rewrite.c>
    RewriteEngine On

    # If file or directory exists, serve it
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send everything to index.php
    RewriteRule ^ index.php [L]
</IfModule>